/* Your custom styles */

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 60px;
    }

    .navbar .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 16.5px;
        padding-bottom: 16.5px;
        line-height: 27px;
    }

    .navbar .navbar-nav>li:hover {
        box-shadow: 0 -3px #78b7cc inset;
        animation: boxIn .25s;
    }

    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 60px;
    }

    .navbar.scrolling-navbar.top-nav-collapse .navbar-nav>li>a {
        padding-top: 16.5px;
        padding-bottom: 16.5px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .jarallax {
        min-height: 500px;
    }
    .avatar {
        width: 125px;
    }
    .display-4 {
        font-size: 2rem !important;
    }
}

@keyframes boxIn {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 -1.5px #78b7cc;
    }

    100% {
        box-shadow: 0 0 -3px #78b7cc;
    }
}

.navbar {
    background-color: transparent;
    box-shadow: none;
    transition: background .5s ease-in-out, padding .5s ease-in-out, box-shadow .5s ease-in-out !important;
}

.navbar a {
    color: #000;
}

.navbar-scroll {
    background-color: rgba(79, 102, 167, 0.85);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.navbar-scroll a {
    color: #fff;
}

.navbar .navbar-nav>li>a {
    -webkit-transition: padding .5s ease-in-out;
    -o-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

.scrolling-view {
    -webkit-transition: margin .5s ease-in-out, background .5s ease-in-out;
    -o-transition: margin .5s ease-in-out, background .5s ease-in-out;
    transition: margin .5s ease-in-out, background .5s ease-in-out;
}

.avatar {
    border-radius: 100%;
    border: 2px solid #fff;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor {
    animation: blink 0.7s infinite;
}

.social {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
    background-color: #3F5286;
}

.social .circle {
    border-radius: 100%;
}

.copyright {
    background: linear-gradient(to right, rgba(79, 102, 167, .8), rgba(0, 196, 255, .8));
}

.btn-group-xs>.btn,
.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.parallax-bg {
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.parallax-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/* ---------------------------- */
/* Custom Circular Progress Bar */
/* ---------------------------- */

.progress_circle {
    background: none;
    position: relative;
}

.progress_circle::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress_circle>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress_circle .progress-left {
    left: 0;
}

.progress_circle .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress_circle .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress_circle .progress-right {
    right: 0;
}

.progress_circle .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress_circle .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}